<section class="mainContent">
    <div class="tablist" role="tablist" aria-label="Liste des chapitres">
        <button class="tabBtn tabBtn-0" role="tab" aria-selected="false" aria-controls="panel-1" id="tab-1" tabindex="0">
            <span role="heading" aria-level="2" class="sr-only" data-i18n="heading.item-1.sr"></span>
            <span class="btnHeading" aria-hidden="true" data-i18n="heading.item-1.visible"></span>
            <img src="./assets/images/chevron-right.svg" alt="" class="open">
            <img src="./assets/images/close.svg" alt="" class="close">
        </button>
        <button class="tabBtn tabBtn-1" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">
            <span role="heading" aria-level="2" class="sr-only" data-i18n="heading.item-2.sr"></span>
            <span class="btnHeading" aria-hidden="true" data-i18n="heading.item-2.visible"></span>
            <img src="./assets/images/chevron-right.svg" alt="" class="open">
            <img src="./assets/images/close.svg" alt="" class="close">
        </button>
        <button class="tabBtn tabBtn-2" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">
            <span role="heading" aria-level="2" class="sr-only" data-i18n="heading.item-3.sr"></span>
            <span class="btnHeading" aria-hidden="true" data-i18n="heading.item-3.visible"></span>
            <img src="./assets/images/chevron-right.svg" alt="" class="open">
            <img src="./assets/images/close.svg" alt="" class="close">
        </button>
        <button class="tabBtn tabBtn-3" role="tab" aria-selected="false" aria-controls="panel-4" id="tab-4" tabindex="-1">
            <span role="heading" aria-level="2" class="sr-only" data-i18n="heading.item-4.sr"></span>
            <span class="btnHeading" aria-hidden="true" data-i18n="heading.item-4.visible"></span>
            <img src="./assets/images/chevron-right.svg" alt="" class="open">
            <img src="./assets/images/close.svg" alt="" class="close">
        </button>
    </div>

    <div class="tabContent" id="panel-1" role="tabpanel" aria-labelledby="tab-1">
        <a target-page="2" class="tabContent__link content-link-1 tabContent__link-0" aria-label="Consultez Performance & actualités" tabindex="-1">
            <p class="tabContent__link__text" aria-hidden="true" data-i18n="tabpanel.p"></p>
        </a>
    </div>
    <div class="tabContent" id="panel-2" role="tabpanel"  aria-labelledby="tab-2">
        <a target-page="4" class="tabContent__link content-link-2 tabContent__link-1" aria-label="Consultez Vivatech 2022 - L’Oréal dévoile sa vision du futur de la beauté" tabindex="-1">
            <p class="tabContent__link__text" aria-hidden="true" data-i18n="tabpanel.p"></p>
        </a>
    </div>
    <div class="tabContent" id="panel-3" role="tabpanel" aria-labelledby="tab-3">
        <a target-page="6" class="tabContent__link content-link-3 tabContent__link-2" aria-label="Consultez Retour sur le e-salon boursolive" tabindex="-1">
            <p class="tabContent__link__text" aria-hidden="true" data-i18n="tabpanel.p"></p>
        </a>
    </div>
    <div class="tabContent" id="panel-4" role="tabpanel" aria-labelledby="tab-4">
        <a target-page="8" class="tabContent__link content-link-4 tabContent__link-3" aria-label="Consultez L’Oréal et vous, cours de bourse et contacts" tabindex="-1">
            <p class="tabContent__link__text" aria-hidden="true" data-i18n="tabpanel.p"></p>
        </a>
    </div>
</section>
