@font-face {
  font-family: "LOREAL-Regular";
  src: url("../fonts/LOREALEssentielle-Regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "LOREAL-Light";
  src: url("../fonts/LOREALEssentielle-Light.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "LOREAL-Bold";
  src: url("../fonts/LOREALEssentielle-Bold.woff") format("woff"); /* Modern Browsers */
}

$primaryFont: 'LOREAL-Regular', sans-serif;

$fontBold: 'LOREAL-Bold', sans-serif;

$fontLight: 'LOREAL-Light', sans-serif;
